.pagination {
    display: flex;
    align-items: center;
    gap: 8px;
}

.sideButton {
    display: flex;
    align-items: center;
    gap: 10px;

    background: none;
    border: none;

    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;

    user-select: none;
}

.mainButton {
    min-width: 36px;
    height: 35px;
    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;
    background-color: transparent;

    border: none;
    border-radius: 10px;

    transition: 0.3s all;
}

.pageButtons {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pageButtonsSm {
    display: none;
}

.pageButtonsSm input {
    margin-right: 8px;
    width: 45px;

    font-size: 14px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;

    background-color: transparent;
    border: 1px solid #323743ff;
    border-radius: 6px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    appearance: none;
    -moz-appearance: textfield;
}

.mainButton.active,
.mainButton:hover {
    background: #636ae8;
}

@media screen and (max-width: 576px) {
    .pageButtons {
        display: none;
    }

    .pageButtonsSm {
        display: block;
    }
}
