.badge {
    width: fit-content;
    padding: 0 8px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    background: #636ae8;
    border-radius: 10px;

    user-select: none;
    cursor: pointer;
}
