* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

:root {
    --black: #1e2128;
    --violet: #522092;
}

body {
    background-color: #121212;
    color: #ffffff;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}
